{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/style/form.css' %}">
  <title>회원가입</title>
</head>
<body>
  <div id="wrap">
    {% include 'header.html' %}
    <main id="join">
      <section>
        <div class="form-box">
          <!-- <form method="POST" action="/api/v1/users/" class="join-form"> -->
          <form>
            <!-- {% csrf_token %} -->
            <h2>회원가입</h2>
            <input type="text" id="username" name="username" placeholder="아이디" required>
            <input type="password" id="password" name="password" placeholder="비밀번호" required>
            <!-- <input type="password" id="chk-password" name="chk-password" placeholder="비밀번호 확인" required> -->
            <input type="text" id="name" name="name" placeholder="이름" required>
            <input type="email" id="email" name="email" placeholder="이메일">
            <input type="hidden" id="is_active" name="is_active" value="1">
            <input type="button" value="가입하기" onclick="join()">
            <span>이미 계정이 있습니까? <a href="/login">로그인</a></span>
          </form>
        </div>
      </section>
    </main>
    {% include 'footer.html' %}
  </div>
  <script src="{% static 'script/user-api.js' %}"></script>
</body>
</html>